<!DOCTYPE html>
<html>
   <head>
      <title>Port of Visakhapatnam</title>
   </head>
   <body>
      <h1>Leave Application</h1>
      <hr>
      <p>SAP No.(Employee No.)</p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      </p>Personnel area(Department) </p>
      <form>
         <select name = "dropdown">
            <option value = "Datacentre">Datacentre</option>
            <option value = "Vigilance">Vigilance</option>
            <option value = "Security">Security</option>
         </select>
      </form>
      <p>Section(Sub-area) </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Leave code </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Application date</p>
      <form>
         <input type="text">
      </form>
      <p>from date</p>
      <form>
         <input type="text">
      </form>
      <p>To date</p>
      <form>
         <input type="text">
      </form>
      <p>No.of days</p>
      <form>
         <input type="text">
      </form>
      <p>Remarks</p>
      <form>
         <input type="text">
      </form>
      
      <input type="button"value=" Save ">
      <h4>**All processed or In process leave dates are not displayed**</h4>




   </body>
</html>