<!DOCTYPE html>
<html>
   <head>
      <title>Port of Visakhapatnam</title>
   </head>
   <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
   <body>
      <h1>Over Time</h1>
      <hr>
      <p>SAP No.(Employee No.)</p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      </p>Personnel area(Department) </p>
      <form>
         <select name = "dropdown">
            <option value = "Datacentre">Datacentre</option>
            <option value = "Vigilance">Vigilance</option>
            <option value = "Security">Security</option>
         </select>
      </form>
      <p>Section(Sub-area) </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Over time Date</p>
      <form>
         <input type="text">
      </form>
      <form>
        <p>Select type of Account:</p>
              <input type="radio" id="Private" name="acc" value="Private">
              <label for="Private">Private</label><br>
              <input type="radio" id="Port" name="acc" value="Port">
              <label for="port">Port</label><br>
      </form>
      <p>OT Hours(24Hrs)</p>
      <form>
         <input type="text">
      </form>
      <p>from </p>
      <form>
         <input type="text">
      </form>
      <p>To</p>
      <form>
         <input type="text">
      </form>
      <p>Hours</p>
      <form>
         <input type="text">
      </form>
      <p>Remarks</p>
      <form>
         <input type="text">
      </form>
      <p> OT Details </p>
      <table style="width:100%">
        <tr>
          <td>SAP No.</td>
          <td>Name</td> 
          <td>Date</td>
          <td>From time</td>
          <td>To time</td>
          <td>Total hours</td>
          <td>Remarks</td>
        </tr>
      <hr>
      <input type="button"value="Delete">
      <input type="button"value=" Modify ">
     




   </body>
</html>