<!DOCTYPE html>
<html>
   <head>
      <title>Port of Visakhapatnam</title>
   </head>
   <body>
      <h1>SAP Employee Details</h1>
      <hr>
      <p>SAP No.(Employee No.)</p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      </p>Department </p>
      <form>
         <select name = "dropdown">
            <option value = "Datacentre">Datacentre</option>
            <option value = "Vigilance">Vigilance</option>
            <option value = "Security">Security</option>
         </select>
      </form>
      <p>Full Name</p>
      <form>
         <input type="text">
      </form>
      <p>Designation </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Section(Sub-area) </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Employee Sub-group </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Organisation Unit </p>
      <form>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      </form>
      <p>Duty Roaster</p>
      <form>
         <input type="text">
      </form>
      <p>Basic Pay</p>
      <form>
         <input type="text">
      </form>
      <input type="button" value="Update">



   </body>
</html>